/* Text ----------------------------------------------------------------------*/
.gist-file, .gist-data, .gist-syntax .o, .gist-syntax .ow, .gist-syntax .gs,
.gist-syntax .ge {
color:#d3d7cf !important
}
.gist-data {
background:#2e3436 !important
}

/* Selection -----------------------------------------------------------------*/
.gist-syntax .gd, .gist-syntax .gd .x {
color: #eeeeec !important;
background-color: #888a85 !important
}

/* Line Numbers --------------------------------------------------------------*/
.gist-meta, .gist-meta a, .gist-meta a:visited, .gist-line-numbers {
color:#555753 !important
}
.gist-meta, .gist-line-numbers {
background:#000000 !important
}
.gist-file {
border:1px solid #000000 !important
}
.gist-data {
border-bottom:1px solid #000000 !important
}
.gist-line-numbers {
border-right:1px solid #000000 !important
}

/* Draw Spaces ---------------------------------------------------------------*/
.gist-syntax .w {
color:#888a85 !important
}

/* Search Matching -----------------------------------------------------------*/
.gist-syntax .gi, .gist-syntax .gi .x {
color: #eeeeec !important;
background-color: #4e9a06 !important
}

/* Comments ------------------------------------------------------------------*/
.gist-syntax .c, .gist-syntax .c1, .gist-syntax .cm, .gist-syntax .cp,
.gist-syntax .cs {
color: #888a85 !important
}

/* Constant ------------------------------------------------------------------*/
.gist-syntax .s, .gist-syntax .sb, .gist-syntax .sc, .gist-syntax .sd,
.gist-syntax .s2, .gist-syntax .se, .gist-syntax .sh, .gist-syntax .si,
.gist-syntax .sx, .gist-syntax .s1, .gist-syntax .m, .gist-syntax .mi,
.gist-syntax .il, .gist-syntax .mf, .gist-syntax .mh, .gist-syntax .mo {
color: #edd400 !important
}

/* Special Character ---------------------------------------------------------*/
.gist-syntax .nv, .gist-syntax .vc, .gist-syntax .vg, .gist-syntax .vi {
color: #ce5c00 !important
}

/* Special Constant ----------------------------------------------------------*/
.gist-syntax .kc, .gist-syntax .sr, .gist-syntax .ss {
color: #ce5c00 !important
}

/* Identifier ----------------------------------------------------------------*/
.gist-syntax .nc, .gist-syntax .ne, .gist-syntax .nf, .gist-syntax .na {
color: #729fcf !important
}

/* Statement -----------------------------------------------------------------*/
.gist-syntax .k, .gist-syntax .kp, .gist-syntax .kr {
color: #ffffff !important
}

/* Type ----------------------------------------------------------------------*/
.gist-syntax .kt, .gist-syntax .kd {
color: #8ae234 !important
}

/* Preprocessor --------------------------------------------------------------*/
.gist-syntax .no, .gist-syntax .nb, .gist-syntax .bp, .gist-syntax .ni,
.gist-syntax .nn, .gist-syntax .nt, .gist-syntax .go, .gist-syntax .gp {
color: #ad7fa8 !important
}

/* Error ---------------------------------------------------------------------*/
.gist-syntax .gr, .gist-syntax .gt, .gist-syntax .err {
color: #eeeeec !important;
background-color: #cc0000 !important
}

/* Note ----------------------------------------------------------------------*/
.gist-syntax .gh, .gist-syntax .gu {
color: #fce94f !important
}
